* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section img {
    display: block;
    width: 80%;
    margin: 30px auto;
    position: relative;
}

.header-content {
    text-align: center;
    margin: 10px auto;
    position: absolute;
    top: 35%;
    left: 45%;
}

.header-content p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
}